<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>491197750345-8tecgd5sav0557rcdpg7qg5sl8msm416.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.491197750345-8tecgd5sav0557rcdpg7qg5sl8msm416</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>491197750345-gfj64ua7barhlhighejotk7qfv3v8glq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDTsZXeKJ-quBkOriMIRYT4VgNJbQ5q0qQ</string>
	<key>GCM_SENDER_ID</key>
	<string>491197750345</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kz.buginsoft.kemeladam</string>
	<key>PROJECT_ID</key>
	<string>kemeladam-19e1f</string>
	<key>STORAGE_BUCKET</key>
	<string>kemeladam-19e1f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:491197750345:ios:3a634f949e465236183398</string>
</dict>
</plist>